@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.app {
  background: rgb(255,232,216);
  background: linear-gradient(195deg, rgba(255,232,216,1) 21%, rgba(255,230,230,1) 64%);
  position: static;
  z-index: -2;
}

.greeting-card {
  position: absolute;
  border-radius: 25px;
  border: 2px solid rgba( 255, 255, 255, 1);
  width: 300px;
  height: 160px;
  text-align: center;
  margin: auto;
  padding: 15px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
}

#greeting {
  font-size: 2.5rem;
  margin: 20px 0px;
}

/* .background-img {
  background-image: url('./assets/images/rainy-day.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  z-index: -1;
} */

.app.rainy {
  /* gradient for rainy weather */
  /* blue and grey */
  background: rgb(152,184,199);
  background: linear-gradient(208deg, rgba(152,184,199,1) 29%, rgba(203,231,241,1) 64%);
}

.app.sunny {
  /* gradient for sunny weather */
  /* pink and yellow version */
  background: rgb(255,254,224);
  background: linear-gradient(208deg, rgba(255,254,224,1) 28%, rgba(241,232,203,1) 69%);

  /*blue and yellow version*/
  background: rgb(255,254,224);
  background: linear-gradient(204deg, rgba(255,254,224,1) 29%, rgba(203,231,241,1) 64%);
}

.app.cloudy {
  /* gradient for cloudy weather */
  /* blueish grey and grey */
  background: rgb(152,173,199);
  background: linear-gradient(208deg, rgba(152,173,199,1) 29%, rgba(203,228,241,1) 64%);
}

.sun-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sun {
  height: 300px;
  width: 300px;
  background-color: rgb(252, 199, 101);
  border-radius: 50%;
  position: fixed;
  top: -150px;
  z-index: 1;
}

main {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));
  padding: 25px;
  position: static;
  z-index: -2;
  /* backdrop-filter: blur(5px); */
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  position: relative;
  z-index: 2;
}

.search-box .search-bar {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 15px;
  /* Reset search box appearance */
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: white;
  color: #383636;
  border-radius: 10px;
  font-size: 20px;
}

.weather-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  text-align: center;
  margin: 20px auto;
  padding: 15px 20px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-temp {
  color: white;
  font-size: 90px;
  height: 90px;
}

.current-weather {
  font-size: 45px;
  color: white;
  margin-bottom: 15px;
}

.icon-container {
  height: 100px;
}

#weather-icon {
  width: 120px;
}

.location, .date {
  font-size: 16px;
  color: white;
}